<%= render "shared/globalize_locales", resource: @campaing %>

<%= translatable_form_for [:admin, @campaing] do |f| %>

  <%= render "errors" %>

  <div class="row">
    <div class="small-12 medium-3 column">
      <%= f.text_field :starts_at,
                        placeholder: t("admin.campaings.form.placeholder.starts_at"),
                        value: @campaing.starts_at.present? ? l(@campaing.starts_at.to_date) : nil,  
                        class: "js-calendar-full" %>
    </div>
    <div class="small-12 medium-3 column end">
      <%= f.text_field :ends_at,
                       placeholder: t("admin.campaings.form.placeholder.ends_at"),
                       value: @campaing.ends_at.present? ? l(@campaing.ends_at.to_date) : nil, 
                       class: "js-calendar-full" %>
    </div>
  </div>

  <div class="row">
    <%= f.translatable_fields do |translations_form| %>
      <div class="small-12 medium-6 column">
        <%= translations_form.text_field :title,
                                         placeholder: t("admin.campaings.form.placeholder.title") %>
      </div>

      <div class="ckeditor small-12 column">
        <%= translations_form.cktext_area :description,
                                          maxlength: Campaing.description_max_length,
                                          ckeditor: { language: I18n.locale } %>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="actions small-12 medium-3 column">
      <%= f.submit(class: "button expanded", value: t("admin.campaings.form.submit_button")) %>
    </div>
  </div>
<% end %>
