<%= render "shared/globalize_locales", resource: @campaing %>

<%= translatable_form_for [:admin, @campaing] do |f| %>

  <%= render "errors" %>

  <div class="row">
    <div class="small-12 medium-3 column">
      <%= f.text_field :starts_at,
                        placeholder: t("admin.campaings.form.placeholder.starts_at"),
                        value: @campaing.starts_at.present? ? l(@campaing.starts_at.to_date) : nil,  
                        class: "js-calendar-full" %>
    </div>
    <div class="small-12 medium-3 column end">
      <%= f.text_field :ends_at,
                       placeholder: t("admin.campaings.form.placeholder.ends_at"),
                       value: @campaing.ends_at.present? ? l(@campaing.ends_at.to_date) : nil, 
                       class: "js-calendar-full" %>
    </div>
    <% if @campaing.id.present? %>
    
    <div class="row">
      <div class="small-12 medium-12 column end">
        <%= f.collection_select :proposal_id, Proposal.where(campaing_id: @campaing.id), :id, :title, {:prompt => '-- Select a Winning Proposal --'}, value: @campaing.proposal_id? ? @campaing.proposal_id : nil %>
      </div>
    </div>
    <% end %>

  </div>

  <div class="row">
    <%= f.translatable_fields do |translations_form| %>
      <div class="small-12 medium-6 column">
        <%= translations_form.text_field :title,
                                         placeholder: t("admin.campaings.form.placeholder.title") %>
      </div>

      <div class="ckeditor small-12 column">
        <%= translations_form.cktext_area :description,
                                          maxlength: Campaing.description_max_length,
                                          ckeditor: { language: I18n.locale } %>
      </div>
      <div class="ckeditor small-12 column">
        <%= translations_form.cktext_area :win_proposal_text,
                                          maxlength: Campaing.description_max_length,
                                          ckeditor: { language: I18n.locale } %>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="documents small-12 column">
      <%= render "documents/nested_documents", documentable: @proposal, f: f %>
    </div>
  </div>

  <div class="row">
    <div class="actions small-12 medium-3 column">
      <%= f.submit(class: "button expanded", value: t("admin.campaings.form.submit_button")) %>
    </div>
  </div>
<% end %>
