<div class="proposal-form row">

  <div class="small-12 medium-9 column">
    <%= back_link_to %>

    <h1><%= t("proposals.new.start_new") %></h1>
    <div data-alert class="callout primary">
      <%= link_to help_path(anchor: "proposals"), title: t("shared.target_blank_html"), target: "_blank" do %>
        <%= t("proposals.new.more_info")%>
      <% end %>
    </div>
     <% admin_class = 'hide-language' %>
     <% if current_user.username == 'admin' %>
        <% admin_class = 'hide-language for-admin' %>
     <% end %>
    <div class="<%= admin_class %>"><%= render "proposals/form", form_url: proposals_url %></div>
  </div>

  <div class="small-12 medium-3 column">
    <span class="icon-proposals"></span>
    <h3><%= t("proposals.new.recommendations_title") %></h3>
    <ul class="recommendations">
      <li><%= t("proposals.new.recommendation_one") %></li>
      <li><%= t("proposals.new.recommendation_two") %></li>
      <li><%= t("proposals.new.recommendation_three") %></li>
    </ul>
  </div>
</div>
