<td style="padding-bottom: 20px; padding-left: 10px;">
  <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;line-height: 24px;"><%= t("customtext.sitemessages.label_name") %>: <b><%= @name %></b></p>
  <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;line-height: 24px;"><%= t("customtext.sitemessages.label_email") %>: <b><%= @email %></b></p>
  <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;line-height: 24px;"><%= t("customtext.sitemessages.label_message") %>: <b><%= @message %></b></p>
</td>
