

<h2><%= t("customtext.admin.sitemessages.title") %></h2>

<% if @sitemessages.any? %>
<h3 class="inline-block"><%= page_entries_info @sitemessages, entry_name: 'items' %></h3>
<%= link_to "Download Contact us list", url_for(params.permit(:page).merge(:format => "csv")), class: "small float-right clear" %>

  <table>
    <thead>
      <tr>
        <th><%= t("customtext.sitemessages.label_name") %></th>
        <th><%= t("customtext.sitemessages.label_email") %></th>
        <th><%= t("customtext.sitemessages.label_date") %></th>
        <th><%= t("customtext.sitemessages.admin_label_message") %></th> 
      </tr>
    </thead>

    <tbody>
      <% @sitemessages.each do |sitemessage| %>
        <tr id="<%= dom_id(sitemessage) %>" class="sitemessage">
          <td><%= sitemessage.name %></td>
          <td><%= sitemessage.email %></td>
          <td><%= sitemessage.created_at.strftime("%m-%d-%Y") %></td>
          <td><%= sitemessage.message %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @sitemessages %>
<% else %>
  <div class="callout primary">
    There are no Sitemessages.
  </div>
<% end %>

