<h2><%= t("admin.users.index.title") %></h2>
<div class="small-12 medium-6">
  <%= form_tag admin_users_path, method: :get, remote: true  do %>
    <div class="input-group">
      <%= text_field_tag :search, "", placeholder: t("admin.users.search.placeholder") %>
      <div class="input-group-button">
        <%= submit_tag t("admin.users.search.search"), class: "button" %>
      </div>
    </div>
  <% end %>
</div>
  
<% if @users.any? %>
<h3 class="inline-block"><%= page_entries_info @users, entry_name: 'items' %></h3>
<%= link_to "Download Users", url_for(params.permit(:page).merge(:format => "csv")), class: "small float-right clear" %>

  <table>
    <thead>
      <tr>
        <th><%= t("customtext.registration_page.label_name") %></th>
        <th><%= t("admin.users.columns.name") %></th>
        <th><%= t("admin.users.columns.email") %></th>
        <th><%= t("customtext.registration_page.label_created") %></th>
        <th><%= t("customtext.admin.download_users.verified_status") %></th> 
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
      <% if user.confirmed_at.nil? %>
            <% verified_status = user.confirmation_token %>
        <% else %>
            <% verified_status = 'verified' %>
        <% end %>
        <tr id="<%= dom_id(user) %>" class="user">
          <td><%= user.read_attribute_before_type_cast("name") %>, <%= user.surname %></td>
          <td><%= user.username %></td>
          <td><%= user.email %></td>
          <td><%= user.created_at.strftime("%m-%d-%Y") %></td>
          <td><%= verified_status %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

 
<% else %>
  <div class="callout primary">
    There are no Users.
  </div>
<% end %>