<div class="row">
        <div class="small-12 column">
<h1><%= @campaing.title %></h1>
<%= auto_link_already_sanitized_html wysiwyg(@campaing.description) %>
<% if @winning_proposal.present? %>
  <div class="winning_proposal">
    <%= render partial: "proposals/proposal", object: @winning_proposal  %>
  </div>
<% end %>
<%= render partial: "proposals/proposal", collection: @all_proposals %>
<%= paginate @all_proposals %>
</div>
</div>