
<div class="h-about-sec">
  <div class="row">
  <% @sorted_cards = @cards.sort_by { |obj| obj.created_at }.reverse! %>
      <% card_loop = 1 %>
      <% last_card = '' %>
      <% @sorted_cards.each do |card| %>
        <% if card_loop == 2 %>
         <% last_card = card %>
        <% else %>
        <%= render "card", card: card %>
        <% end %>
        <% card_loop = card_loop + 1 %>
      <% end %>     
      <%= render "card", card: last_card %>  
  </div>
</div>
<div class="h-blue-sec">
  <div class="row">
    <div class="small-12 medium-6 medium-offset-3 column">
      <h2><%= t("customtext.blue_section.main_title") %></h2>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-8 medium-offset-2 column">
      <div class="row">
        <div class="small-12 medium-6 column">
          <%= layout_menu_link_to t("customtext.blue_section.proposals_title"), proposals_path, controller.class == ProposalsController,
                                  accesskey: "3", :class => "btn-submit-h" %>
        </div>
        <div class="small-12 medium-6 column">
        <%= layout_menu_link_to t("customtext.blue_section.poll_title"), polls_path, controller_name == "polls" || (controller_name == "questions" && controller.class.parent == Polls),
                                  accesskey: "3", :class => "btn-submit-h" %>
        
        </div>
      </div>
    </div>
  </div>
</div>
    