<div class="participation-not-allowed" style="display:none" aria-hidden="false">
  <%= t("customtext.login_to_vote.start") %>
  <%= link_to t("customtext.unauthenticated.login"), new_user_session_path %>
  <%= t("customtext.login_to_vote.middle") %>
  <%= link_to t("customtext.unauthenticated.signup"), new_user_registration_path %>
  <%= t("customtext.login_to_vote.end") %>
</div>
