<div data-alert class="callout primary">
  <%= t("customtext.login_to_comment.start") %>
  <%= link_to t("customtext.unauthenticated.login"), new_user_session_path %>
  <%= t("customtext.login_to_comment.middle") %>
  <%= link_to t("customtext.unauthenticated.signup"), new_user_registration_path %>
  <%= t("customtext.login_to_comment.end") %>
</div>
